extends base.pug
block content
    section 
        h2 About Our Ex-placement
        div.box 
            div.image 
                img(src="../static/placement1.png", alt="")
            div.data 
                p 5 student 
        div.box 
            div.image   
                img(src="../static/placement2.png", alt="")
            div.data 
                p 3 student 
        div.box 
            div.image3  
                img(src="../static/placement3.png", alt="")
            div.data 
                p 8 student 