doctype html
html
    head
        title coding mastary
        style
            include ../static/style.css
    body
        nav#navbar
            ul 
                li #[a(href="/") Home] 
                li #[a(href="/aboutus.pug") About Us ]
                li #[a(href="/contact.pug") Contact Us ]
                li #[a(href="/batch.pug") batchdetails ]
                li #[a(href="/service.pug") service ]
        block content
        footer#low
            | All copyright @ are reserved 