
doctype html 
html 
    head 
        title codeing 
        style 
            include ../static/style.css
    body 
        nav#navbar
            ul 
                li #[a(href="/") Home] 
                li #[a(href="/aboutus.pug") About Us ]
                li #[a(href="/contact.pug") Contact Us ]
                li #[a(href="/batch.pug") batchdetails ]
                li #[a(href="/service.pug") service ]

        section#batchImages
            
            div.box 
                div.image 
                    img(src="../static/code4.jpg", alt="")
                | coding is mendatory for health
            div.box 
                div.image 
                    img(src="../static/code3.jpg", alt="")
                | Coding is Life
            div.box 
                div.image 
                    img(src="../static/code2.jpg", alt="")
                |Code...Code...Code...
        section#quality 
            div.qbox.qboxl 
                h2 Live / Scheduled Lecture
                p Learning is an important step for achieving dreams in a student’s journey. We encourage the student to explore the concept in depth instead of memorizing. The live lectures help us in learning the needs of the students and motivates the students to be creative and be passionate learners.
            div.qbox.qboxr
                h2 Live Doubt Solving Sessions
                p At Physics Wallah we always encourage students to ask questions. We have created an atmosphere where students don’t hesitate to ask their doubts. We firmly believe in More you ask, the more you learn.
            div.qbox.qboxl 
                h2 Structured And Targeted Study Material
                p Explore the art of concept with our structured material with intelligent question tackling and problem solving skills.
            div.qbox.qboxr
                h2 Tests On Regular Basis For Progress Tracking
                p It is a set of test papers designed to make the student comfortable with all possible varieties of questions along with the various ways in which the same question can be put in order to make the student sweat in the exam hall.The problems involve multi-dimensional thinking at a time.
        footer#low
            | All copyright @ are reserved 
